@charset "utf-8";
@import url('transition.css');
@import url('shortcodes.css');

/*===============================================================
    Web Standard Start
===============================================================*/
html {
  overflow: -moz-scrollbars-vertical;
  margin: 0;
  padding: 0;
}
*:focus {
  outline:none;
}
body {
  margin:0px;
  padding:0px;
  color:#333;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}
body, td, th, input, textarea, select, a {
  font-size: 12px;
}
p {
  margin-top: 0px;
  margin-bottom: 20px;
}
a, a:visited, a b {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a img {
  border: none;
}
.clear {
  clear:both;
}
.fl {
  float:left;
}
.fr {
  float:right;
}
.w30 {
  width:25px!important;
  text-align:center;
}
.mt10 {
  margin-top:10px;
}
h1, h2, h3, h4, h5, h6 {
  padding:0;
  font-family:'Carme';
  line-height:35px;
  height:40px;
  font-weight:normal;
  color:#333;
  background:url(../theme1/img/headerBG.png) repeat-x left bottom ;
}
h1 span {
  padding:0;
}
h1 {
  font-size:24px;
  margin:0 0 20px; 0;
}
h2, h3, h4, h5, h6 { margin:0 0 10px; 0; }
h2 { font-size:22px; } h3 { font-size:20px; } h4 { font-size:18px; } h5 { font-size:16px; font-weight:bold; } h6 { font-size:14px; font-weight:bold; }

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


/*===============================================================
    Web Standard End
===============================================================*/









/*===============================================================
		Form Structure Start
===============================================================*/
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background:#FBFBFB;
	border:solid 1px #d7d7d7;
	padding:5px;
	color:#333;
	width:180px;
	font-size:12px;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
}
textarea {
	background:#FBFBFB;
	border:solid 1px #d7d7d7;
	padding:5px;
	color:#333;
	width:220px;
	height:125px;
	line-height:20px;
	font-size:12px;
}
select {
	background:#fff;
	border:solid 1px #d7d7d7;
	padding:5px;
	color:#333;
	width:190px;
}
label {
	cursor:pointer;
	color:#333;
}
input[type='text']:focus, input[type='password']:focus, textarea:focus, select:focus, input[type='text']:hover, input[type='password']:hover, textarea:hover, select:hover {
	border:solid 1px #bbb;
}
#notification {
	margin:0 auto;
}
/*===============================================================
		Form Structure End
===============================================================*/


/*===============================================================
		Buttons Start
===============================================================*/
a.button, a.button2 {
	display:inline-block;
	font-size:10px;
	color:#fff;
	text-shadow:0 -1px 0 #1f4e64;
	text-transform:uppercase;
	font-weight:bold;
	padding:3px 5px;
	text-decoration:none;
	cursor:pointer;
	border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
}
a.button span, a.button2 span {
	color:#fff;
	font-size:11px;
	display:inline-block;
}
.button {
	display:inline-block;
	font-size:10px;
	color:#fff;
	text-shadow:0 -1px 0 #1f4e64;
	text-transform:uppercase;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
	cursor:pointer;
	border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
}
a.button1 {
	display:inline-block;
	background:url(../theme1/img/cartBl.png) left top no-repeat;
	text-decoration:none;
	cursor:pointer;
	width:51px;
	height:51px;
}
a.button1:hover {
	background-position:left bottom;
}
a.button1 span {
	text-indent:-9999px;
	float:left;
}
a.btn-detail {
	display:inline-block;
	background:url(../theme1/img/detailBl.png) left top no-repeat;
	text-decoration:none;
	cursor:pointer;
	width:51px;
	height:51px;
}
a.btn-detail:hover {
	background-position:left bottom;
}
a.btn-detail span {
	text-indent:-9999px;
	float:left;
}
.buttons {
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	line-height: 16px;
	height: 30px;
	position: relative;
	top:1px;
	z-index: 1;
}
.htabs a {
	padding:7px 10px 6px 10px;
	float: left;
	font-size:12px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #222;
	display: none;
	text-shadow:1px 1px 0px #fff;
	text-transform:uppercase;
}
.htabs a:hover {
	color:#222;
	background:#eee;
}
.htabs a.selected {
	padding-bottom:6px;
	background:#fff;
	color:#444;
	border:1px solid #d7d7d7;
	border-width:1px 1px 0px 1px;
}
.tab-content {
	padding:10px;
	min-height:295px;
	z-index:2;
	overflow:auto;
	background:#fff;
	margin-bottom:20px;
	font-size:13px;
	border:1px solid #d7d7d7;
}
.rev .content img {
	float:right;
}
#tab-description {
	line-height: 1.5em;
}
#tab-description p {
	margin-bottom: 12px;
}
#tab-description ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#tab-description ul li {
	margin: 6px 0px;
	padding: 0 0 0 24px;
	background: url('../images/bullet2.png') 3px 3px no-repeat;
}
#tab-description ol {
	margin: 0;
	padding: 0 0 0 32px;
}
#tab-description ol li {
	margin: 8px 0px;
	padding: 0 0 0 2px;
}
/*===============================================================
		Buttons End
===============================================================*/



/**********************************************************************************/
/* Custom page CSS-------------------------------------------------- */
/**********************************************************************************/




.divider-all {
  width: 100%;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  
  margin-top: 0 !important;
  background-color: #F8F8FF;

  background:url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  }
.divider-content {
    width: 970px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0 !important;

  
  }

.divider-nav {
  padding-right: 30px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0 !important;
  width: 1000px;

}
#divider-right {
  position: fixed;
  padding-right: 200px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0 !important;
  
  height: auto;
  float: right;

  right: 190;
  left: 1150;
  z-index: 1030;

  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

}
#divider-left {
  position: fixed;
  padding-right: auto;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0 !important;
  width: auto;
  height: auto;
  float:left;


}

#divider-center {
  width: 970px;
  height: auto;
  margin-left: auto ;
  margin-right: auto;
  padding-right: 0px;
  padding-left: 0px;
  
  margin-top: 0 !important;
  background-color: #F8F8FF;


  }


#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}




.page-header-shop {
  padding-left: 0px;
  padding-bottom: 1px;
  margin: 0px 0 0px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px dashed black;
  width: 970px;
}
header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  margin-right: 0px;
  margin-left: 0px !important; 
  position: relative;
  vertical-align: middle;


  
  
  width:970px ;

  height:550px;
  color:#000000;
}

header h1,header h2,header h3 a,header a,header a:hover {
  color:#101010;
  font-weight:800;
  text-decoration:none;
}

header h3 {
  font-family: 'Kreon', serif;
  background: #ffcc33;
  padding:10px;
  border-radius:3px;
  font-size:34px;
  padding:12px 10px 6px 10px;
}

header .dropdown-menu {
  top:74px;
  background: #ffcc33;
  border-width:0;
}


#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {
  
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
    margin-bottom: 0 !important;
    margin-right: 0 ;
    margin-left: 0 ;
    padding: 0;
    
}

.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}
.navbar-custom .dropdown-menu{
	right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:100px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {
		height: 95px;
	}
}

#map-canvas {
  	width: 100%; 
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;

   border-top-left-radius:8px;
   border-top-right-radius:8px;
   width:42px;
   height:35px;

}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

section {
  color: #ffffff;
  min-height: 0px;
  height: 0px !important;
  height: 100%;
  padding-top:0px;

}



.body {
  font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
 
  }
.breadcrumb-shop {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #F8F8FF;
  border-radius: 4px;

}
.breadcrumb-shop > li {
  display: inline-block;
}
.breadcrumb-shop > li + li:before {
  padding: 0 5px;
  color: black;
  content: "/\00a0";
}
.breadcrumb-shop > .active {
  color: #777;
}
.breadcrumb-shop a {
	color:#333;
	text-decoration:none;
}
.breadcrumb-shop a:hover {
	text-decoration:underline;
}
.padding-0 {
    padding: 0;

}
.space {
    margin-right: 13px;
    

}
.margin-pad {
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
}

.rowz {
  margin-right: -1px;
  margin-left: -1px;
  height: auto;

}

.white, .white a {
  color: #fff;
}


.affix-top,.affix{
	position: static;
}
@media (min-width: 979px) {
 #sidebar.affix {
    
    top:0px;
    width:228px;
  }
}
#sidebar{
  background-color: #97FFFF;
  width: 228px;
  height: auto;
  padding-top: 20px;
  position: relative; 
  
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;

}


#cart li.active {
  	border:0 #eee solid;
  	border-right-width:4px;

}
@media (min-width: 979px) {
 #cart.affix {
    position: fixed;
    top:100px;
    width:228px;
    padding-right: 1000px ;
  }
}
#cart{

  background-color: #97FFFF;
   width: 130px;
   height: 180px;
  padding-top: 0px;
  position: relative; 
  margin-top: 30px;
 
  color: white;
  font-size: 8px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  margin-bottom: 6px;
 
  border: 0px solid black;
  opacity:0.9;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;


}



#cart li.active {
    border:0 #eee solid;
    border-right-width:4px;

}


#divl {
    float:left;
    width:100px;
    height:35px;
    text-align: left;
}
#divr {
    float:right;
    width:100px;
    height:35px;
    text-align: right;
    
   
}
/*===============================================================
    Box Product Start
===============================================================*/
.thumbnailz > img,
.thumbnailz a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  border: 0px;
}
.thumbnailz {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.thumbnailz > img,
.thumbnailz a > img {
  margin-right: auto;
  margin-left: auto;
    
}
a.thumbnailz:hover,
a.thumbnailz:focus,
a.thumbnailz.active {
  border-color: #428bca;
}
.thumbnailz .caption {
  padding: 9px;
  color: #333;
}
.box-product {
  width: 187px;
  height: 250px;
  overflow: auto;
}
.box-product > div {
  display: inline-block;
  vertical-align: top;
  margin:10px 3px;
  padding:0;
  text-align:center;
  position:relative;
  background:#fff;
  border:solid 1px #e2e2e2;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  width:180px;
}
.box-product > div:hover {
  border:solid 1px #bbb;
  
}
.box-product > div > .inner {
  padding:2px;
  border:solid 2px #f1f1f1;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  display:inline-block;
  width:172px;
}
.box-product .image {
  display: block;
  margin-bottom:5px;
  padding:5px;
}
.box-product .name a {
  color:#333;
  max-width:214px;
  text-align:center;
  font-weight:normal;
  text-decoration:none;
  display: block;
  margin-bottom:4px;
  font-size:14px;
  margin-top:10px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}
.box-product .abs {
  position:absolute;
  top:0;
  background:rgba(0, 0, 0, 0.5);
  width:78%;
  height:92%;
  padding:0px 0;
  display:none;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;

}
.box-product:hover .abs {
display:block;
  
}
.box-product .price {
  display: block;
  width:100%;
  font-weight:normal;
  color:#333;
  font-size:12px;
  margin-bottom:5px;
  float:left;
}
.box-product .price-old {
  color: #F00;
  text-decoration: line-through;
}
.box-product .price-new {
  font-weight:bold;
}
.box-product .rating {
  display: block;
  margin-bottom: 4px;
}
.box-product .cart {
  margin-top:50%
}
.box-product .rating img, .box-product1 .rating img, .product-list .rating img, .product-grid .rating img, .box-product2 .rating img {
}
.ml10 {
  margin-left:10px;
}
.linkText {
  float:right;
  display:inline-block;
  color:#333;
  position:relative;
  margin:-20px 25px 0 0;
  text-decoration:none;
  background:url(../images/btn-search.png) no-repeat 0 0;
  padding:10px 0 0 25px;
  height:20px;
}
.linkText:hover {
  color:#222;
}

.page-header-x {
  padding-bottom: 5px;
  margin: 300px 0 10px;
  border-bottom: 0px solid #eee;
}
.page-header-show {
  padding-bottom: 5px;
  margin: 25px 0 10px;
  border-bottom: 0px solid #eee;
}
.color {

  color: black;
  font-size: 10pt;
  margin-right: 10px;
}
.color:hover{

  color: red;
}
.cart-margin{
  margin-top: 50px;
  margin-left: 2px;
}
.mborder {

  border: 5px solid #EE4000;
  border-style: dotted;
  margin-bottom: 10px;

}
.h2space {

  
  margin-bottom: 40px;

}